/*mobile*/
@media only screen and (max-width: 480px)
{
  body{
    overflow: hidden;
    width: 100%;
    height:100%;
  }
  
  #mod1 {
  top: 400px;
    display: none;
  }

  /*Module 2 - QUOTATION*/
  #mod2 {
    position: relavite;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/*Module 3 - MUSIC*/
#mod3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 200px;
  margin-left: auto; 
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Module 4 - TOOLS*/
#mod4 {
  position: absolute;
  bottom: 120px;
  height: 100px;
  z-index: 2;
  left: 0px;
  right: 0px;
  margin-left: auto; 
  margin-right: auto;
}

/*Module 5 - CLOCK*/
#mod5 {
  left: 0px;
  right: 0px;
  margin-left: auto; 
  margin-right: auto;
}

/*Module 6 - Settings*/
#mod6 {
  position: absolute;
  height: var(--height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-size: cover;
  filter: opacity(0);
  z-index: -1;
  transition: all 0.3s ease-in-out;
  }
  #mod7 {
    display: none;
  }

  /*music*/
  #muic-box {
    width: 90%;
    position: relative;
    margin-left: auto; 
    margin-right: auto
  }

  /*clock*/
  #mod5-quote {
    display: none;
  }
  #clock {
    font-size: 80px;
  }
  #secs {
    font-size: 40px;
  }
  /*tools*/
  #toolbar {
    width: 300px;
  }
}

/*tablet*/
@media only screen and (max-width: 1024px)
